/* set global  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* latin - import Open Sans from Google font*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  
  }

  :root {
    --light: #fff;
    --dark: #181b24;
    --grey: #899495;
    --orange: #fc5130;
    --SectionGrey: #f2f2f2;
    --SectionWhite: #fff;
    --SectionPink: rgb(247, 241, 242);
  
  }

  /* nav */
.nav{ 
  background:var(--light);
  background: rgb(168, 12, 49);
 }
 .nav-header{
   display: flex;
   justify-content: space-between;
   padding: 0.25rem 1rem;
 }

 /* child */
 .nav-btn{
   align-self: center;
   font-size: 3rem;
   color: var(--light);
 }
 .nav-links{
   list-style-type: none;
   background: var(--grey);
 }
 .nav-single-link{
   display: block;
   text-decoration: none;
   font-size: 1.5rem;
   padding: 0.5rem 1rem;
   text-transform: capitalize;
   color:var(--light);
   transition: all 1s linear
 }
 .nav-single-link:hover{
   background: var(--light);
   padding-left: 1.5rem;
   cursor: pointer;
 }
 
 @media screen and (min-width:768px){
  .nav{
    display: flex;
    flex-wrap: wrap;

  }
  .nav-header{
    border-bottom: none;
  }
  .nav-btn{
    display: none;
  }
  .nav-links{
    background: transparent;
    height: auto;
    /* as a flex child */
   flex:1 0 auto;
    /* as a flex parent */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
  }
  .nav-single-link{
    background: transparent;
    flex:1 0 100px;
  }
  .nav-single-link:hover{
    padding-left: 1rem;
    color: var(--dark);
  }
}

/* header */
.header {
  min-height: 100vh;
  background: rgb(168, 12, 49);
  display: flex;
  flex-direction: column;
}