/* set global  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* latin - import Open Sans from Google font*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  
  }

  :root {
    --light: #fff;
    --dark: #181b24;
    --grey: #899495;
    --orange: #fc5130;
    --SectionGrey: #f2f2f2;
    --SectionWhite: #fff;
    --SectionPink: rgb(247, 241, 242);
  
  }

  /* nav */
.nav{ 
  background:var(--light);
  background: rgb(168, 12, 49);
 }
 .nav-header{
   display: flex;
   justify-content: space-between;
   padding: 0.25rem 1rem;
 }

 /* child */
 .nav-btn{
   align-self: center;
   font-size: 3rem;
   color: var(--light);
 }
 .nav-links{
   list-style-type: none;
   background: var(--grey);
 }
 .nav-single-link{
   display: block;
   text-decoration: none;
   font-size: 1.5rem;
   padding: 0.5rem 1rem;
   text-transform: capitalize;
   color:var(--light);
   transition: all 1s linear
 }
 .nav-single-link:hover{
   background: var(--light);
   padding-left: 1.5rem;
   cursor: pointer;
 }
 
 @media screen and (min-width:768px){
  .nav{
    display: flex;
    flex-wrap: wrap;

  }
  .nav-header{
    border-bottom: none;
  }
  .nav-btn{
    display: none;
  }
  .nav-links{
    background: transparent;
    height: auto;
    /* as a flex child */
   flex:1 0 auto;
    /* as a flex parent */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
  }
  .nav-single-link{
    background: transparent;
    flex:1 0 100px;
  }
  .nav-single-link:hover{
    padding-left: 1rem;
    color: var(--dark);
  }
}

/* header */
.header {
  min-height: 100vh;
  background: rgb(168, 12, 49);
  display: flex;
  flex-direction: column;
}

/* banner */
.banner {
  /* as a flex child */
  flex: 1 0 auto;
  /* as a parent*/
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: var(--light);
  text-align: center;
  padding-bottom: 4rem;
  font-weight: 700;
  position: relative;
  left: 100px;
  top: 400px;
}

.banner-title {
  font-size: 4rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  text-align: center;
}

.banner-jobs {
  letter-spacing: 0.15rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--light)
}
/* end of banner */

/* about section */
.about {
  text-align: center;
  background: var(--SectionPink);
  margin: 0;
}

.about-center {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  align-content: center;
  text-transform: capitalize;
  font-weight: 700;
}

.about-img {
  margin: 3rem 0;
  position: relative;
}

.about-img-photo {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.about-img:before {
  content: "";
  background: var(--grey);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -10px;
  left: -10px;
}

.about-info {
  margin: 3rem 0;
}

.about-info-title {
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
}

.about-info-text {
  color: var(--grey);
  line-height: 1.5;
  font-size: 1.2rem;
  margin: 3rem 0;
}

.about-info-single-link {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  border: 3px solid var(--dark);
  transition: all 1s linear;
  margin-right: 1rem;
}

.dark-btn {
  background: var(--dark);
  color: var(--light);
}

.dark-btn:hover {
  background: var(--light);
  color: var(--dark);
}

.light-btn {
  color: var(--dark);
}

.light-btn:hover {
  background: var(--dark);
  color: var(--dark);
}

@media screen and (min-width: 992px) {
  .about-centre {
    display: flex;
    justify-content: space-between;
  }

  .about-info,
  .about-img {
    flex: 0 0 calc(50% - 1rem);
  }

  .about-info {
    display: flex;
    align-items: flex-end;
  }
}

/* end of about section */

/* section title */
.section-title {
  text-align: center;
}

.section-title-name {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  align-content: center;
  text-transform: capitalize;
  font-weight: 700;
}

/* end of section title */

/* services section */
.services {
  background: var(--SectionGrey);
  /* use a variable so later we can change colour to whatever we want */
  padding: 3rem 0;
}

.services-center {
  max-width: 90vw;
  margin: 2rem auto;
}

.services-single-service {
  margin: 2rem auto;
  text-align: center;
  transition: all 0.5s ease-in;
  padding: 2rem 0;
}

.services-single-service:hover {
  background: var(--light);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.services-single-service-icon {
  font-size: 3rem;
}

.services-single-service-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.services-single-service-text {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}

@media screen and (min-width:768px) {
  .services-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services-single-service {
    flex: 0 0 calc(50% - 0.5rem);
  }
}

@media screen and (min-width:992px) {
  .services-single-service {
    flex: 0 0 calc(33.33% - 0.25rem);
  }
}

/* end of services section */

/* start of projects section */
.projects{
  padding: 3rem 0;
  background: var(--light);
}

.projects-center{
  max-width: 90vw;
  margin: 2rem auto;
}

.projects-single-project{
  margin: 2rem auto;
  position: relative;
}

.projects-single-project-img{
  display: block;
  width: 100%;
  border-radius:0.25rem;
}

.projects-single-project:before{
  content:"";
  background: var(--dark);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0);
  transition: all 1s ease;
  opacity: 0;
}

.projects-single-project:hover:before{
  transform: scale(1);
  opacity: 0.5;
}

.projects-single-project-icon{
  color: var(--light);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  transform: scale(0);
  opacity: 0;
  transition: all 1.3sec ease;
}

.projects-single-project-icon:hover{
  color: var(--grey);
}

.projects-single-project:hover .projects-single-project-icon{
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

@media screen and (min-width:768px) {
  .projects-center{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* parent container settings */
  }
  .projects-single-project{
    flex: 0 0 calc(50% - 0.5rem);
  }
}

@media screen and (min-width:992px) {
  .projects-single-project{
    flex: 0 0 calc(25% - 0.5rem);
  }
}
/* end of of projects section */