/* banner */
.banner {
  /* as a flex child */
  flex: 1 0 auto;
  /* as a parent*/
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: var(--light);
  text-align: center;
  padding-bottom: 4rem;
  font-weight: 700;
  position: relative;
  padding-top: 100px;
}

.banner-image {
  // max-width: 450px;
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.banner-title {
  font-size: 4rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.banner-jobs {
  letter-spacing: 0.15rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--light)
}
