/* footer */

.footer {
  background: var(--dark);
  padding: 3rem;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
}

.footer-single-icon {
  font-size: 2rem;
  color: var(--light);
  transition: all 2s ease;
}

.footer-single-icon:hover {
  color: var(--grey);
}
