/* header */
.header {
  min-height: 100vh;
  background: #333333;
  background: -webkit-linear-gradient(to right, #dd1818, #333333);
  background: linear-gradient(to right, #dd1818, #333333);
  display: flex;
  flex-direction: column;
}
