/* start of projections section */
.projects {
  padding: 3rem 0;
  background: var(--light);
}

.projects-center {
  max-width: 90vw;
  margin: 2rem auto;
}

.projects-single-project {
  margin: 2rem auto;
  position: relative;
}

.projects-single-project-img {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
}

.projects-single-project:before {
  content: "";
  background: var(--dark);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0);
  transition: all 1s ease;
  opacity: 0;
}

.projects-single-project:hover:before {
  transform: scale(1);
  opacity: 0.5;
}

.projects-single-project-icon {
  color: var(--light);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  transform: scale(0);
  opacity: 0;
  transition: all 1.3sec ease;
}

.projects-single-project-icon:hover {
  color: var(--grey);
}

.projects-single-project:hover .projects-single-project-icon {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

@media screen and (min-width:768px) {
  .projects-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* parent container settings */
  }

  .projects-single-project {
    flex: 0 0 calc(50% - 0.5rem);
  }
}

@media screen and (min-width:992px) {
  .projects-single-project {
    flex: 0 0 calc(25% - 0.5rem);
  }
}

/* end of of projects section */
