/* end of banner */
/* about section */
.about {
  text-align: center;
  background: var(--SectionPink);
  margin: 0;
}

.about-center {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  align-content: center;
  text-transform: capitalize;
  font-weight: 700;
}

.about-img {
  margin: 3rem 0;
  position: relative;
}

.about-img-photo {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.about-img:before {
  content: "";
  background: var(--grey);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -10px;
  left: -10px;
}

.about-info {
  margin: 3rem 0;
}

.about-info-title {
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
}

.about-info-text {
  color: var(--grey);
  line-height: 1.5;
  font-size: 1.2rem;
  margin: 3rem 0;
}

.about-info-single-link {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  border: 3px solid var(--dark);
  transition: all 1s linear;
  margin-right: 1rem;
}


@media screen and (min-width: 992px) {
  .about-centre {
    display: flex;
    justify-content: space-between;
  }

  .about-info,
  .about-img {
    flex: 0 0 calc(50% - 1rem);
  }

  .about-info {
    display: flex;
    align-items: flex-end;
  }
}
